body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding-top: 5px;
    padding-bottom: 0.5px;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 48px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 19.5px;
    margin-left: 10px;
}

form {
    background-color: #FFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
    width: 65%;
    margin: 0 auto;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 95%;
}

td {
    padding: 10px;
}

td:first-child {
    font-weight: bold;
    width: 25%;

}

input[type=text] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 90%;
}

input[type=submit] {
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

a.pesan-btn {
    background-color: #333;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}