body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding-top: 5px;
    padding-bottom: 0.5px;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 48px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 19.5px;
    margin-left: 10px;
}


form {
    margin: 30px auto;
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

label {
    font-size: 13px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}