body {
    background-color: #000;
    color: #000000;
}

#name {
    font-family: serif;
    font-size: 30px;
    text-align: center;
    color: lightskyblue;
    letter-spacing: 2px;
    padding: 5px;
    border: 2px solid lightskyblue;
    border-radius: 30px;
    text-shadow: 5px 3px 25px #00fff3;
}

#clockDisplay {
    font-family: serif;
    font-size: 70px;
    text-align: center;
    color: lightskyblue;
    letter-spacing: 2px;
    padding: 5px;
    text-shadow: 5px 3px 25px #00fff3;
}

#b1 {
    text-align: center;
    font-weight: bold;
}

#clockDay {
    text-align: center;
    font-family: serif;
    font-size: 20px;
    padding: 5px;
    border: 2px #000cff;
    border-radius: 30px;
    color: lightskyblue;
    text-shadow: 10px 13px 35px #00fff3;
}

#clockForm {
    font-family: serif;
    padding: 5px;
    border: 5px solid #0093ff;
    border-radius: 10px;
}